@import '_colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
	color: $font-color;
}
.wrapper{
	max-width: 1440px;
	margin: 0 auto;
}
.text-test {
	color: red;
}

.nav {
	width: 100%;
	padding: 30px;
	background-color: $intro-mail-color;
	font-family: 'Raleway', sans-serif;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1440px;
		margin: 0 auto;
		text-align: center;
	}
	&__logo {
		min-width: 20%;
		max-width: 30%;
	}
	img {
		width: 100%;
	}
	&__list {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		list-style: none;
		&-link {
			padding: 0.5em 1em;
			color: $font-color;
			text-decoration: none;
			cursor: pointer;
		}
	}
}


@import '_media';
