@import '_colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
	color: $font-color;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.text-test {
	color: red;
}
.btn {
	padding: 1em 5em;
	background-image: $gradient;
	background-size: 280%;
	font-size: 1.8rem;
	transition: background-position.5s;
	cursor: pointer;
	border: none;
	border-radius: 40px;
	color: $font-color;
	&:hover {
		background-position: right;
	}
	margin-bottom: 2em;
}
.nav {
	width: 100%;
	padding: 30px;
	background-color: $intro-mail-color;
	font-family: 'Raleway', sans-serif;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1440px;
		margin: 0 auto;
		text-align: center;
	}
	&__logo {
		min-width: 20%;
		max-width: 30%;
	}
	img {
		width: 100%;
	}
	&__list {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		list-style: none;
		&-link {
			padding: 0.5em 1em;
			color: $font-color;
			text-decoration: none;
			cursor: pointer;
		}
	}
}
.header {
	background-color: $intro-mail-color;
	&__img {
		width: 100%;
		height: auto;
		object-fit: cover;
		margin-bottom: 2em;
	}
	&__waves {
		position: absolute;
		width: 100%;
		// transform: scale(1.4);
		bottom: 0;
		// height: 50%;
		z-index: -2;
	}
	&__title {
		font-size: 2.2rem;
		text-align: center;
		margin-bottom: 0;
	}
	&__top {
		padding: 2em 2em 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: transparent;
		position: relative;
		z-index: 1;
	}
	&__bottom {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $main-color;
		padding: 4em;
		text-align: center;
		line-height: 1.5;
		z-index: 0;
	}
	&__text {
		width: 80%;
		font-size: 1.8rem;
		text-align: center;
		margin-bottom: 2em;
	}
}
.waves-desktop {
	// transform: scale(1.2);
	position: absolute;
	bottom: 0;
}
.main {
	background-color: $main-color;
}
.advantages {
	margin-bottom: 4em;
	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2em;
	}
	&__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 4em;
	}
	&__icon {
		margin-bottom: 1.5em;
	}
	&__text {
		text-align: center;

		&-title {
			margin-bottom: 1em;
		}
		&-info {
			line-height: 1.5;
		}
	}
}
.description {
	padding-bottom: 10em;
	&-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2em;
		color: $font-color;
		&__image-box {
			margin-bottom: 4em;
		}
		&__image {
			width: 100%;
		}
		&__info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 1.5rem;
		}
		&__title {
			font-size: 2rem;
			margin-bottom: 1em;
		}
		&__text {
			margin-bottom: 1.5em;
			line-height: 1.5;
		}
		&__link-box {
			align-self: flex-start;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			&:hover {
				.description-box__link {
					color: $font-color;
				}
				.description-box__link::after {
					background-color: $font-color;
				}
				.description-box__arrow-icon {
					use {
						fill: $font-color;
					}
				}
			}
		}
		&__link {
			position: relative;
			padding-bottom: 0.3em;
			text-decoration: none;
			color: $cyan-color;
			margin-right: 0.5em;
			transition: color 0.3s;
			&::after {
				transition: background-color 0.3s;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				content: '';
				width: 115%;
				height: 1px;
				background-color: $cyan-color;
			}
		}
		&__arrow-icon {
			use {
				transition: fill 0.3s;
			}
		}
	}
}
.reviews {
	padding-bottom: 20em;
	&__quotes {
		position: absolute;
		top: -40px;
		left: 0;
	}
	&__cards {
		padding: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__card {
		background-color: $testimonials-bg-color;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 2em;
		margin-bottom: 3em;
		&--first {
			position: relative;
		}
		&-top {
			margin-bottom: 2em;
			line-height: 1.5;
		}

		&-bottom {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			&-img {
				width: 15%;
				margin-right: 1em;
				img {
					border-radius: 100%;
					// padding: 1em;
					width: 100%;
				}
			}
			&-info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
			}
			&-name {
				margin-bottom: 0.5em;
			}
		}
	}
}
.footer {
	background-color: $footer-bg-color;
	padding: 2em;
	&-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
.sign-up {
	transform: translateY(-50%);
	background-color: $intro-mail-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 2em;
	&__top {
		margin-bottom: 2em;
		&-title {
			margin-bottom: 1em;
			text-align: center;
		}
		&-text {
			line-height: 1.5;
			text-align: center;
		}
	}
	&__bottom {
		display: flex;
		flex-direction: column;
		width: 100%;
		&-input {
			width: 100%;
			height: 4em;
			border-radius: 25px;
			padding: 1em;
			// margin-bottom: 2em;
		}
		&-btn {
			padding: 1em 2em;
			width: 100%;
		}
	}
}
.error {
	text-align: center;
	color: $error-color;
	visibility: hidden;
	margin-bottom: 1em;
}
@import '_media';
